
@{
    Layout = null;
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/jquery-1.10.2.js"></script>
</head>
<body>
    <div class="container">
        Hoşgeldiniz @ViewBag.CurrentUser
        <a class="btn btn-default" href="~/Account/LogOut">ÇIKIŞ</a>
    </div>
</body>
</html>
